@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #000;
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
    font-family: 'Poppins';
}

/* Navbar */
.hero {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.3em;
}

.main-img {
    position: relative;
    top: -132px;
    width: 18%;
}

.main-img:hover {
    animation: rotate 3s;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(190deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: 52px;
}

.m-logo {
    position: relative;
    left: 93px;
    bottom: 6px;
}

.m-logo:hover {
    cursor: pointer;
    scale: 1.5;
    transition: 0.3;
}

.nav {
    display: flex;
    list-style: none;
    gap: 66px;
}

.nav li {
    font-size: 13px;
    font-weight: 600;
    position: relative;
    right: 90px;
}

.nav li:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    color: rgb(153, 114, 114);
}

.nav button {
    color: #fff;
    background-color: rgb(32, 30, 30);
    border: 2px solid transparent;
    position: relative;
    padding: 16px 54px;
    top: -13px;
    border-radius: 10px;
    right: 69px;
}

.nav button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    border: 2px solid rgb(153, 114, 114);
    color: #000;
    background-color: #fff;
}

.m-h img {
    width: 40%;
    position: relative;
    right: 25px;
    bottom: 30px;
}

.m-h img:hover {
    cursor: pointer;
    scale: 1.5;
    transition: 0.3;
}

.m-h h2 {
    font-size: 55px;
    width: 45%;
    position: relative;
    bottom: 26px;
    right: 25px;
    font-weight: 500;
}

.m-p h3 {
    font-weight: 500;
    position: relative;
    right: 22px;
    bottom: 40px;
}

.m-p p {
    font-size: 14px;
    position: relative;
    right: 22px;
    opacity: 70%;
    line-height: 28px;
}

.main-btn button {
    gap: 22px;
    display: flex;
    color: #fff;
    background-color: rgb(32, 30, 30);
    padding: 16px 28px;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
    right: 25px;

}

.main-btn button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    border: 2px solid #fff;
    color: #000;
    background-color: rgb(153, 114, 114);
}

.main-btn .price {
    font-weight: 700;
    font-size: 18px;
}

.main .s-bag {
    position: relative;
    right: 6px;
}

.main-btn .add-to-bag {
    position: relative;
    top: 3px;
    right: 7px;
}

/* Logo Section */
.logo-image {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.logo-image .p:hover {
    cursor: pointer;
    scale: 1.5;
    transition: 0.3;
}

/* Specs Section */
.specs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.specs-logo {
    position: relative;
    left: 148px;
}
.specs-logo:hover {
    cursor: pointer;
    scale: 1.2;
    transition: 0.3;
}

.Features {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.hp img {
    width: 6%;
}

.hp h3 {
    font-weight: 300;
    font-size: 14px;
}

.hp span {
    font-size: 11px;
    opacity: 60%;
}

.h-1 {
    position: relative;
    left: 26px;
}

.h-4 {
    position: relative;
    left: 26px;
}

.h-4 span {
    width: 46%;
    display: flex;
}

.specs-right-section img {
    position: relative;
    width: 89%;
    top: 73px;
}
.specs-right-section img:hover {
    cursor: pointer;
    scale: 1.6;
    transition: 0.3;
}
.case{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
     height: 70vh;
     width: 100%;
}
.c-logo {
position: relative;
left: 474px;
}
.c-logo:hover {
    cursor: pointer;
    scale: 1.3;
    transition: 0.3;
}
.case-img {
    position: relative;
    left: 246px;
    width: 92%;
    height: 434px;
    top: 62px;
}
.case-img:hover {
    cursor: pointer;
    scale: 1.3;
    transition: 0.3;
}
.case-right-section {
position: relative;
left: 254px;
top: 67px;
}
.c-p {
    font-size: 14px;
opacity: 60%;
width: 34%;
line-height: 25px;
position: relative;
}
.c-btn {
    display: flex;
    color: #fff;
    background-color: rgb(32, 30, 30);
    padding: 12px 28px;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
   gap: 15px;
   top: 64px;
}
.c-btn:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    border: 2px solid #fff;
    color: #000;
    background-color: rgb(153, 114, 114);
}
.c-btn img:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3;
}
/* Buy Now section  */
.buy-now {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px;
     background-color: rgb(32, 30, 30);
     border-radius: 10px;
     width: 1000px;
     padding: 65px;
     position: relative;
     left: 255px;
top: 160px;
}
.buy-left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.b-h h2{
    font-size: 22px;
    font-weight: 500;
}
.discount span {
    font-size: 16px;
    opacity: 70%;
} 
.buy-left-section button {
    display: flex;
color: #fff;
background-color: #000;
padding: 18px 44px;
border: 2px solid transparent;
border-radius: 10px;
position: relative;
gap: 15px;
margin: 23px;
right: 24px;
bottom: 12px;
}
.buy-left-section button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    border: 2px solid #fff;
    color: #000;
    background-color: rgb(153, 114, 114);
}
.buy-left-section button img:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.3;
}

.buy-right-section img:hover {
    animation: rotate 3s;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(190deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
    }
}
/* Products Style */
.product-logo:hover {
    cursor: pointer;
    scale: 1.25;
    transition: 0.3; 
}
.p-style {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 300px;
}
.headphones {
    display: grid;
    grid-template-columns: 17% 17% 17%;
    justify-content: center;
    align-content: center;
    row-gap: 80px;
    width: 100%;
    padding-top: 112px; 
}
.head-style {
    background-color: rgb(32, 30, 30); 
    width: 180px; 
    height: 160px; 
    border-radius: 10px;  
}
.head-style:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 0.3;
    border: 2px solid #fff;
    color: #000;
    background-color: rgb(153, 114, 114);

}
.bottom-text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    justify-content: space-around;
    height: 10%; 
    opacity: 70%;
}
.bottom-text div {
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}
.headphone-img {
    position: relative;
   height: 100px;
   top: -40px;
  
}
.head-style img:hover {
    cursor: pointer;
    scale: 1.2;
    transition: 0.3 ease-in-out;
}
.shop-img {
    height: 30px;
    background-color: rgb(32, 30, 30);
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}
.group-img {
    height: 18px;
}
.group-img:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 0.3;
}
/* Foter Section */
.footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 150px;
}
.f-logo:hover {
    cursor: pointer;
    scale: 1.5;
    transition: 0.3;
}
.twitter-dark-img {
    height: 30px;
    position: relative;
    top: 70px;
}
.f-l {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    left: -100px;
}
.f-h {
    font-weight: 600;
}
.f-h:hover {
    cursor: pointer;
    color:#000fff ;
    scale: 1.05;
    transition: 0.3;
}
.f-l ul {
    list-style-type: none;
     display: flex;
     flex-direction: column;
     gap: 10px;
     color: #fff;
     font-size: 13px;
     opacity: 70%;
}
.f-l ul li:hover {
    cursor: pointer;
    scale: 1.05;
    transition: 0.3;
    color: rgb(250, 111, 111);
}
.email-address {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    left: -80px;
}
.email-input {
    display: flex;
    background-color: rgb(32, 30, 30);
    padding: 8px 14px; 
    border-radius: 5px;
}
.input-btn {
    display: flex;
}
.email {
    width: 180px;
    background-color: rgb(32, 30, 30);
    border: none;
}
.email::placeholder {
    color: #fff;
}
.email-input button {
    display: flex;
    gap: 10px;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 10px;
border-radius: 5px;
position: relative;
left: 6px;
}
.email-input button:hover {
    cursor: pointer;
    scale: 1.08;
    transition: 0.3;
    border: 2px solid #000;
    color: #000;
    background-color: rgb(153, 114, 114);
}
.email-input button img:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 0.3;
}
.email-address .imgs {
    display: flex;
    gap: 15px;
}
.email-address .imgs img:hover {
    scale: 1.3;
    transition: 0.3;
}
.uparrow-img {
    position: relative;
    left: 350px;
    top: 10px;
}
.uparrow-img img {
    height: 30px;
}
.uparrow-img img:hover {
    scale: 1.3;
    transition: 0.3;
}
